variables:
  NODE_VERSION: 20
  IMAGE_VARIANT: alpine-build

image: $ECR_REGISTRY/signageos/docker-node:${NODE_VERSION}-${IMAGE_VARIANT}

stages:
  - prepare
  - test
  - build
  - publish
  - release

cache:
  untracked: true
  key: "$CI_PROJECT_ID"
  paths:
    - node_modules/

before_script:
  - export VERSION=`cat ./VERSION`
  - export TAG=`cat ./PRERELEASE`
  - npx --userconfig ./.npmrc @signageos/lib@latest version-upgrade $VERSION
  - mkdir -p dist
  - npm install --ignore-scripts

prepare:
  image: $CI_REGISTRY/signageos/docker:master
  stage: prepare
  before_script: []
  script:
    - ci-prepare
  artifacts:
    when: on_success
    paths:
      - ./VERSION
      - ./PRERELEASE

test:general:
  stage: test
  except:
    - tags
  needs:
    - prepare
  artifacts:
    expire_in: 1 week
    name: tests-coverage
    when: always
    paths:
      - coverage/
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
  script:
    - cp .env.amy .env
    - npm install --ignore-scripts
    - npm run test:coverage

test:integration:
  stage: test
  except:
    - tags
  needs:
    - prepare
  script:
    - cp .env.amy .env
    - npm run test-integration

test:lint:
  stage: test
  except:
    - tags
  needs:
    - prepare
  script:
    - if [ `find test -name '*\.ts' -type f -print0 | xargs -0 grep "\.only" | wc -l` -gt 0 ]; then echo "You forgot the .only in tests" && exit 1; fi
    - npm run lint

test:changelog:
  image: $CI_REGISTRY/signageos/docker:master
  stage: test
  except:
    - tags
  needs:
    - prepare
  allow_failure: true
  script:
    - ci-test-changelog

test:check:
  stage: test
  except:
    - tags
  needs:
    - prepare
  script:
    - npm run check

build:
  stage: build
  dependencies:
    - prepare
  needs:
    - prepare
  script:
    - npm run prepare --production
  artifacts:
    when: on_success
    paths:
      - dist/

publish:npm:
  stage: publish
  dependencies:
    - prepare
    - build
  needs:
    - prepare
    - build
  script:
    - cp .env.production .env
    - npm publish --ignore-scripts --tag $TAG

publish:npm-public:
  stage: publish
  only:
    - tags
  dependencies:
    - prepare
    - build
  needs:
    - prepare
    - build
  script:
    - cp .env.production .env
    - export NPM_REGISTRY_URL=https://registry.npmjs.org/
    - export NPM_REGISTRY_HOST=registry.npmjs.org
    - export NPM_AUTH_TOKEN=$PUBLIC_NPM_AUTH_TOKEN
    - tools/prepare-npm-public.sh
    - npm publish --ignore-scripts --tag $TAG

release:tag:
  image: $CI_REGISTRY/signageos/docker:master
  stage: release
  only:
    - master
  needs:
    - prepare
    - build
    - test:general
    - test:lint
    - test:check
    - test:changelog
  when: manual
  allow_failure: false
  before_script: []
  script:
    - ci-release-tag

release:notes:
  image: $CI_REGISTRY/signageos/docker:master
  stage: release
  only:
    - tags
  needs:
    - publish:npm
  script:
    - ci-release-notes
