import './index.css';
import sos from '@signageos/front-applet';

// Wait on sos data are ready (https://developers.signageos.io/sdk/sos/#onready)
sos.onReady().then(async function () {
	const contentElement = document.getElementById('root');
	if (contentElement) {
		console.log('sOS is ready');
		contentElement.innerHTML = 'sOS is ready';
	}
});
